<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>About</title>
</head>
<body>

<header>
  <h1>Hvem er vi?</h1>
</header>

<section>
  <div>
    <h2>Simon</h2>
    <p>
      Simon, er efter sine mange år i tjeneste som soldat, blevet en sand naturelsker! Med hans passion for sand mellem
      tæerne, bål på stranden og ikke mindst overlevelse, er han <strong>eksperten</strong> inden for naturoplevelser for
      hele familien!
    </p>
  </div>
  <div>
    <h2>Sofie</h2>
    <p>
      Sofie er Simons nr. 1 fan, og er med på alle hans idéer indenfor naturoplevelser.
    </p>

  </div>
</section>

<button type="button">Tilbage Til Forsiden</button>
</body>
</html>