<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <link rel="stylesheet" th:href="@{css/mystyles.css}">
</head>
<body>

<header>
  <h1>Hvem er vi?</h1>
</header>

<section>


  <div>
    <h2>Simon</h2>
    <p>
      Simon, er efter sine mange år i tjeneste som soldat, blevet en sand naturelsker! Med hans passion for sand mellem
      tæerne, bål på stranden og ikke mindst overlevelse, er han <strong>eksperten</strong> inden for naturoplevelser for
      hele familien!
    </p>
  </div>
  <div>
    <h2>Sofie</h2>
    <p>
      Sofie er topfan af alle Simons idéer indenfor naturoplevelser.
    </p>

  </div>


</section>

<a th:href="@{/}">
<button type="button">Tilbage Til Forsiden</button>
</a>
</body>
</html>